name: Build and Push Moodle Plugin CI Images

on:
  push:
    branches: [ main ]
  workflow_dispatch:

env:
  DOCKER_BUILDKIT: 1
  DOCKER_DRIVER: overlay2

jobs:
  build:
    name: Build and Push
    runs-on: ubuntu-latest

    strategy:
      matrix:
        php-version: [8.1, 8.2, 8.3, 8.4]

    services:
      docker:
        image: docker:dind
        options: >-
          --privileged
          --env DOCKER_TLS_CERTDIR=""
        ports:
          - 2375:2375
        env:
          DOCKER_TLS_CERTDIR: ""

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}

      - name: Build and Push Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          build-args: |
            PHP_VERSION=${{ matrix.php-version }}
          tags: ${{ secrets.DOCKERHUB_REPO }}:${{ matrix.php-version }}
